<header>
    <div class="row">
        <div class="pull-left">
            <button type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="pull-right">
            <div class="icon--user">
                <img class="img-circle" src="./assets/images/icon_user.jpg" title="User" alt="User" />
                <span>Truong Nguyen</span>
            </div>
            <span class="header__line"></span>
            <span class="icon--logout" (click)="logOutFunc()">logout</span>
        </div>
    </div>
</header>