<aside class="visible">
    <div class="aside__top">
        <a routerLink="/"><img src="./assets/images/logo.png" title="Logo" alt="Logo" /></a>
    </div>
    <div class="aside__middle">
        <nav>
            <ul>
                <li class="menu--profile">
                    <a class="drop_down--menu" href="javascript:;">Employee <span class="arrow"></span></a>
                    <ul class="subMenu">
                        <li class="">
                            <a routerLink="/employee">Team SPG</a>
                        </li>
                        <li class="">
                            <a routerLink="/about">Team Ayakashi</a>
                        </li>
                        <li class="">
                            <a href="javascript:;">Team Mondra</a>
                        </li>
                        <li class="">
                            <a href="javascript:;">All</a>
                        </li>
                    </ul>
                </li>
                <li class="menu--profile">
                    <a class="drop_down--menu" href="javascript:;">Profile <span class="arrow"></span></a>
                    <ul class="subMenu">
                        <li class="subMenu--profile">
                            <a href="javascript:;">Profile</a>
                        </li>
                        <li class="subMenu--privacy">
                            <a href="javascript:;">Privacy</a>
                        </li>
                        <li class="subMenu--portfolio">
                            <a href="javascript:;">Portfolio</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>